<div class="row">
  <div class="col-md-1 text-center"></div>
  <div class="col-md-10 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>This is your secret link. Save it.</h1>
      </div>
      <div class="panel-body">
        <p>I don't want to waste your time asking for emails and passwords.</p>
        <p>Here is <a href="<%= @deck.url %>">a link to your deck</a></p>
        <p><strong>Don't loose it. Don't share it.</strong></p>
      </div>
    </div>
  </div>
  <div class="col-md-1 text-center"></div>
</div>