<!DOCTYPE html>
<html>
<head>
  <title>LingoLobster</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app'>
  <div id="wrapper">
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  <div class="navbar navbar-fixed-bottom">(c) 2014 <a href="http://www.rickcarlino.com">Rick Carlino</a>. Contact me <a href="http://www.rickcarlino.com/contact/">here</a>. Feedback appreciated.</div>
</body>
</html>
